<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-dark indigo" [containerInside]="false">
  <!-- Navbar brand -->
  <mdb-navbar-brand
    ><a class="navbar-brand" href="#"
      ><h2>Lets get started</h2></a
    ></mdb-navbar-brand
  >

  <!-- Collapsible content -->
  <links>
    <ng-container *ngIf="isLoggedIn$ | async">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a mat-button (click)="goToAddQuestion()">Add question</a>
        </li>
        <li class="nav-item active">
          <a mat-button (click)="gotToViewQuestion()">View question</a>
        </li>
        <li class="nav-item active">
          <a mat-button (click)="signOut()">Logout</a>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="isLoggedOut$ | async">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a mat-button (click)="goToRegisterPage()">Register</a>
        </li>
        <li class="nav-item active">
          <a mat-button (click)="gotToLoginPage()">Login</a>
        </li>
      </ul>
    </ng-container>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
