<div class="view-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Course</th>
        <th>Subject</th>
        <th>Question set</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let q of questions">
        <td>{{q.coursename}}</td>
        <td>{{q.subject}}</td>
        <td>
          <span class="view-link" (click)="viewQuestionSet(q.questionset)">View set</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="showSet" class="modal" tabindex="-1" role="dialog" (click)="closeSet()">
  <div class="modal-dialog" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Question set</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeSet()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let question of questionset">
          <p>Question: {{ question.quetionTitle }}</p>
          <p>Option 1: {{ question.option1 }}</p>
          <p>Option 2: {{ question.option2 }}</p>
          <p>Option 3: {{ question.option3 }}</p>
          <p>Option 4: {{ question.option4 }}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default button-close" (click)="closeSet()">Close</button>
      </div>
    </div>
  </div>
</div>