.signup-form {
    width: 42vw;
    height: 80vh;
}

.form-group {
    padding: 10px;
}

.form-group button {
    margin-right: 20px;
    width: 150px;
    height: 45px;
}

.disable-button {
    background-color: rgb(192, 197, 197)
}

.form-control-error span,
.form-control-error p,
.error-label {
    color: red;
}
