.info-section {
    margin: 20px 0 0 20px;
    width: 40vw;
    height: 50vh; 
}

.login-section {
    margin: 20px 0 0 20px;
    width: 40vw;
    height: 50vh; 
}

.landing-container {
    margin-top: 40px;
    padding: 20px;
}