<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="error-template">
          <h1>
            Oops!
          </h1>
          <h2>
            Something went wrong!
          </h2>
          <div class="error-details">
            Sorry, an error has occured while getting the page. Please go back to dashboard and try again.
          </div>
          <div class="error-actions">
            <button (click)="backToDashboard()" class="btn btn-primary btn-lg">
              <span class="glyphicon glyphicon-home"></span> Back To Dashboard
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>