.right-arrow {
  width: 20px;
  height: 20px;
  float: right;
  position: relative;
  top: 5px;
}

.full-width {
  width: 100%;
}

mat-card-content {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.my-card {
  width: 80vw;
  margin: 10vh auto;
}
