@import '../../styles/global.styles';

.right-arrow {
  width: 20px;
  height: 20px;
  float: right;
  position: relative;
  top: 5px;
}

mat-card-content {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
