<app-header></app-header>
<mat-card class="my-card">
  <mat-card-content>
    <form
      class="my-form"
      [formGroup]="userData"
      (ngSubmit)="signup.form.valid && register()"
      #signup="ngForm"
      novalidate
    >
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="signupEmail"
          placeholder="Enter your email"
          required
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Mobile</mat-label>
        <input
          type="text"
          matInput
          formControlName="signupMobile"
          placeholder="Enter your mobile"
          name="mobile"
          required
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="signupPassword"
          placeholder="Enter a password"
          name="password"
          required
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="confirmPassword"
          placeholder="Re enter the Password"
          name="confirmPassword"
          required
        />
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary">
          REGISTER
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
