<app-header></app-header>
<mat-card class="my-card">
  <mat-card-content>
    <form name="form" (ngSubmit)="login.form.valid && onLogIn()" #login="ngForm" class="my-form" novalidate>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input 
        type="email" 
        [(ngModel)]="loginData.email" 
        #email="ngModel" 
        name="email"
        matInput placeholder="Enter your email"
        [ngClass]="{ 'is-invalid': login.submitted && email.invalid }" 
        email 
        required />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input 
        matInput 
        [(ngModel)]="loginData.password"
        #password="ngModel"
        name="password"
        placeholder="Enter your password" 
        [type]="hide ? 'password' : 'text'" 
        [ngClass]="{ 'is-invalid': login.submitted && password.invalid }"
        required
        />
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <mat-card-actions>
        <button
        type="submit"
        mat-raised-button
        color="primary"
      >
        Login
      </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>