<div class="add-questions-form">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="questionFrom">
                <h3>Course:</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="coursename" formControlName="coursename"
                                placeholder="Enter the course name" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="subjectname" formControlName="subjectname"
                                placeholder="Enter the subject name" required />
                        </div>
                    </div>
                </div>
                <div formGroupName="question" class="question-section">
                    <h2>Question:</h2>

                    <div class="form-group">
                        <input type="text" class="form-control" id="quetionTitle" formControlName="quetionTitle"
                            placeholder="Enter the question here" required />
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="option1" formControlName="option1"
                                    placeholder="Enter the option 1" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="option2" formControlName="option2"
                                    placeholder="Enter the option 2" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="option3" formControlName="option3"
                                    placeholder="Enter the option 3" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="option4" formControlName="option4"
                                    placeholder="Enter the option 4" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="correctAnswer" formControlName="correctAnswer"
                            placeholder="Enter the correct answer" required />
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary add-to-set" (click)="addNewQuestion()"
                        [disabled]="questionFrom.pristine || questionFrom.controls['question'].invalid"
                        [ngClass]="{'disable-button': questionFrom.pristine || questionFrom.controls['question'].invalid}">
                        Add to set
                    </button>
                    <button type="button" class="btn btn-primary reset" (click)="resetQuestion()"
                        [disabled]="questionFrom.controls['question'].pristine">
                        Reset
                    </button>
                    <button type="submit" class="btn btn-primary submit"
                        [disabled]="questionFrom.pristine || questionFrom.invalid" (click)="submitQuestionSet()"
                        [ngClass]="{'disable-button': questionFrom.pristine || questionFrom.invalid}">
                        Submit set
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<lgs-shared-modal 
    #submitConfirmModal
    [title]="'Submit confirmation'"
    [message]="'Do you want to sumit the question set?'" 
    [confirmBtnName]="'Yes'" 
    [closeBtnName]="'No'"
    (onConfirm)="submitConfrm()">
</lgs-shared-modal>