<div class="navigation">
    <div>
        <nav class="navbar navbar-expand-md navbar-light bg-light bg-gradient shadow rounded">
            <div class="container-xxl ">
                <a href="#home" class="navbar-brand">
                    <span class="fw-bold">
                        Lets Get Started
                    </span>
                </a>
                <!-- Toggle button mobile nav -->
                <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" 
                data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" 
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse justify-content-start align-center" id="main-nav">
                    <ul class="navbar-nav fw-light">
                        <li class="nav-item" (click)="navClick('dashboard')">
                            <a class="nav-link">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Add question</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
                    <ul class="navbar-nav fw-light">
                        <li class="nav-item">
                            <a routerLink="/" class="nav-link">Welcome Sandeep</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/" class="nav-link">Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>                    
    </div>
</div>