<!--div class="header-body">
  <div class="app-logo">
    <img class="logo" src="../../../assets/images/dream.png" alt="logo" />
  </div>
  <div class="app-name">
    <div class="app-name-header">Let’s Get Started</div>
    <div class="app-name-sub-header">Live your Dream</div>
  </div>
  <div class="app-logout" (click)="signOut()">
    <img
      class="logout-sign"
      src="../../../assets/images/sign-out.png"
      alt="sign-out"
    />
  </div>
  <div class="user-info">
    <div>Signed In as</div>
    <div class="user-email">{{user}}</div>
  </div>
</!--div-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
    <span><h2>Test</h2></span>
    <span class="spacer"></span>
    <a mat-button routerLink="/register">Register</a>
    <a mat-button routerLink="/login">Login</a>
  </mat-toolbar-row>
</mat-toolbar>
