.header-body {
    width: 100vw;
    height: 13vh;
    background-color: #d8d8d8;
}

.logo {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 18px;
}

.app-name-header {
    width: 288px;
    height: 49px;
    font-family: AvenirNext;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    position: relative;
    top: -70px;
    left: 105px;
    
}

.app-name-sub-header {
    width: 159px;
    height: 27px;
    font-family: AvenirNext;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    position: relative;
    top: -90px;
    left: 105px;
}

.logout-sign {
    width: 44px;
    height: 44px;
    float: right;
    position: relative;
    top: -150px;
    right: 20px;
}

.user-info {
    float: right;
    position: relative;
    top: -140px;
    right: 60px;
}

.user-email {
    width: 173px;
    height: 27px;
    font-family: AvenirNext;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}