<app-header></app-header>
<mat-card
  fxFlex
  fxLayoutAlign="start center"
  fxLayout="column"
  class="my-card"
  [style.borderRadius.px]="'0'"
  [style.paddingTop.px]="'60'"
>
  <mat-card-content>
    <form
      name="form"
      [formGroup]="questionMeta"
      (ngSubmit)="questionMetaForm.form.valid && onSubmit()"
      #questionMetaForm="ngForm"
      novalidate
    >
        <mat-form-field class="full-width">
          <mat-label>Course name</mat-label>
          <input
            type="text"
            id="coursename"
            formControlName="coursename"
            matInput
            placeholder="Enter the course name"
            required
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Subject name</mat-label>
          <input
            type="text"
            id="subjectname"
            formControlName="subjectname"
            matInput
            placeholder="Enter the subject name"
            required
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Current date</mat-label>
          <input
            type="date"
            id="currentdate"
            formControlName="currentdate"
            matInput
            required
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Faculty name</mat-label>
          <input
            type="text"
            id="facultyname"
            formControlName="facultyname"
            matInput
            placeholder="Enter the faculty name"
            required
          />
        </mat-form-field>
        <form name="form"[formGroup]="question"  #questionForm="ngForm" novalidate>
            <mat-form-field class="full-width">
              <mat-label>Quetion title</mat-label>
              <textarea
                matInput
                formControlName="quetionTitle"
                id="quetionTitle"
                placeholder="Enter the question here"
                required
              ></textarea>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Option 1</mat-label>
              <input
                type="text"
                id="option1"
                formControlName="option1"
                matInput
                placeholder="Enter the option1"
                required
              />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Option 2</mat-label>
              <input
                type="text"
                id="option2"
                formControlName="option2"
                matInput
                placeholder="Enter the option2"
                required
              />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Option 3</mat-label>
              <input
                type="text"
                id="option3"
                formControlName="option3"
                matInput
                placeholder="Enter the option3"
                required
              />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Option 4</mat-label>
              <input
                type="text"
                id="option4"
                formControlName="option4"
                matInput
                placeholder="Enter the option4"
                required
              />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Correct answer</mat-label>
              <input
                type="text"
                id="correctAnswer"
                formControlName="correctAnswer"
                matInput
                placeholder="Enter the correctAnswer"
                required
              />
            </mat-form-field>
            <mat-card-actions>
              <div class="form-btn">
                <button
                  type="button"
                  [disabled]="!questionForm.form.valid"
                  mat-raised-button
                  color="primary"
                  (click)="onAdd()"
                >
                  Add
                </button>
              </div>
            </mat-card-actions>
        </form>
        <mat-card-actions>
          <div class="form-btn">
            <button
              type="submit"
              [disabled]="!minimumQuestionAddedd"
              mat-raised-button
              color="primary"
            >
              Submit
            </button>
          </div>
        </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
<app-footer></app-footer>
