@import '../../lgs-global-style/global.styles.scss';

mat-card-content {
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}

button {
  width: 50vw;
  margin-bottom: 30px !important;
  height: 48px;
}

.form-btn {
  margin-left: 14vw;
}
