<div class="landing-container">
    <div class="row">
        <div class="col-md-12">
            <div class="logo">
                <div></div>
            </div>
        </div>
        <div class="col-md-12">
            <lgs-navbar></lgs-navbar>
        </div>
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>
