.logo img {
    margin: 10px 0 0 20px;
    border: 1px #123232 solid;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
}

.landing-container {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}