<app-header></app-header>
<mat-card fxFlex fxLayoutAlign="start center" fxLayout="column" class="my-card" [style.borderRadius.px]="'0'"
  [style.paddingTop.px]="'60'">
  <mat-card-content [style.height.px]="'500'">
    <ng-container *ngIf="showCourseContainer">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let course of courseList" (click)="onCourseClick(course)">
          {{ course }}
          <span class="dot"> </span>
          <img class="right-arrow" src="../../../assets/images/right_arrow.png" alt="rightArrow" />
        </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="showTestContainer">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let test of testNameList" (click)="onTestClick(test.questionset)">
          {{ test.subjectname }}
          <span class="view">
            view
          </span>
        </li>
      </ul>
    </ng-container>
  </mat-card-content>
</mat-card>
<app-footer></app-footer>

<!-- Modal view for question -->
<app-modal titleDialog="Show Question">
  <div *ngFor="let question of questionData">
    <p>Question: {{ question.quetionTitle }}</p>
    <p>Option 1: {{ question.option1 }}</p>
    <p>Option 2: {{ question.option2 }}</p>
    <p>Option 3: {{ question.option3 }}</p>
    <p>Option 4: {{ question.option4 }}</p>
  </div>
</app-modal>
<!-- Modal view for question end -->
