<mat-card
  fxFlex
  fxLayoutAlign="start center"
  fxLayout="column"
  class="my-card"
  [style.borderRadius.px]="'0'"
  [style.paddingTop.px]="'60'"
>
  <mat-card-content>
    <form
      name="form"
      (ngSubmit)="questionMetaForm.form.valid && onSubmit()"
      #questionMetaForm="ngForm"
      novalidate
    >
      <div
        ngModelGroup="questionMeta as Course"
        #questionMetaCtrl="ngModelGroup"
      >
        <mat-form-field class="full-width">
          <mat-label>Course name</mat-label>
          <input
            type="text"
            id="coursename"
            name="coursename"
            [(ngModel)]="questionMeta.coursename"
            #courseName="ngModel"
            matInput
            placeholder="Enter the course name"
            required
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Subject name</mat-label>
          <input
            type="text"
            name="subjectname"
            id="subjectname"
            [(ngModel)]="questionMeta.subjectname"
            #subjectname="ngModel"
            matInput
            placeholder="Enter the subject name"
            required
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Current date</mat-label>
          <input
            type="date"
            name="currentdate"
            id="currentdate"
            [(ngModel)]="questionMeta.currentdate"
            #currentdate="ngModel"
            matInput
            required
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Faculty name</mat-label>
          <input
            type="text"
            id="facultyname"
            name="facultyname"
            [(ngModel)]="questionMeta.facultyname"
            #facultyname="ngModel"
            matInput
            placeholder="Enter the faculty name"
            required
          />
        </mat-form-field>
        <form name="form" #questionForm="ngForm" novalidate>
          <div ngModelGroup="question" #questionCtrl="ngModelGroup">
            <mat-form-field class="full-width">
              <mat-label>Quetion title</mat-label>
              <textarea
                matInput
                [(ngModel)]="question.quetionTitle"
                name="quetionTitle"
                id="quetionTitle"
                #quetionTitle="ngModel"
                placeholder="Enter the question here"
                required
              ></textarea>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Option 1</mat-label>
              <input
                type="text"
                id="option1"
                name="option1"
                [(ngModel)]="question.option1"
                #option1="ngModel"
                matInput
                placeholder="Enter the option1"
                required
              />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Option 2</mat-label>
              <input
                type="text"
                id="option2"
                name="option2"
                [(ngModel)]="question.option2"
                #option2="ngModel"
                matInput
                placeholder="Enter the option2"
                required
              />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Option 3</mat-label>
              <input
                type="text"
                id="option3"
                name="option3"
                [(ngModel)]="question.option3"
                #option3="ngModel"
                matInput
                placeholder="Enter the option3"
                required
              />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Option 4</mat-label>
              <input
                type="text"
                id="option4"
                name="option4"
                [(ngModel)]="question.option4"
                #option4="ngModel"
                matInput
                placeholder="Enter the option4"
                required
              />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Correct answer</mat-label>
              <input
                type="text"
                id="correctAnswer"
                name="correctAnswer"
                [(ngModel)]="question.correctAnswer"
                #correctAnswer="ngModel"
                matInput
                placeholder="Enter the correctAnswer"
                required
              />
            </mat-form-field>
            <mat-card-actions>
              <div class="form-btn">
                <button
                  type="button"
                  [disabled]="!questionForm.form.valid"
                  mat-raised-button
                  color="primary"
                  (click)="onAdd()"
                >
                  Add
                </button>
              </div>
            </mat-card-actions>
          </div>
        </form>
        <mat-card-actions>
          <div class="form-btn">
            <button
              type="submit"
              [disabled]="!minimumQuestionAddedd"
              mat-raised-button
              color="primary"
            >
              Submit
            </button>
          </div>
        </mat-card-actions>
      </div>
    </form>
  </mat-card-content>
</mat-card>
