<div class="add-question-layout">
  <div class="add-question-header">Enter the question here</div>
  <div class="add-question-container">
    <form
      name="form"
      (ngSubmit)="questionMetaForm.form.valid && onSubmit()"
      #questionMetaForm="ngForm"
      novalidate
    >
      <div
        ngModelGroup="questionMeta as Course"
        #questionMetaCtrl="ngModelGroup"
      >
        <div class="form-group form-inline">
          <div class="col-md-6 mb-3">
            <input
              type="text"
              class="form-control dashboard-form-group"
              id="coursename"
              name="coursename"
              [(ngModel)]="questionMeta.coursename"
              #courseName="ngModel"
              required
              placeholder="Course Name, Eg: Aptitute"
            />
          </div>
          <div class="col-md-6 mb-3">
            <input
              type="text"
              class="form-control dashboard-form-group"
              id="subjectname"
              name="subjectname"
              [(ngModel)]="questionMeta.subjectname"
              #subjectname="ngModel"
              required
              placeholder="Test Name, Eg: Age"
            />
          </div>
        </div>

        <div class="form-group form-inline">
          <div class="col-md-6 mb-3">
            <input
              class="form-control dashboard-form-group"
              placeholder="yyyy-mm-dd"
              id="currentdate"
              name="currentdate"
              [(ngModel)]="questionMeta.currentdate"
              #currentdate="ngModel"
              required
              bsDatepicker
            />
          </div>
          <div class="col-md-6 mb-3">
            <input
              type="text"
              class="form-control dashboard-form-group"
              [(ngModel)]="questionMeta.facultyname"
              id="facultyname"
              name="facultyname"
              #facultyname="ngModel"
              required
              placeholder="Faculty Name"
            />
          </div>
        </div>
      </div>
      <form name="form" #questionForm="ngForm" novalidate>
        <div ngModelGroup="question" #questionCtrl="ngModelGroup">
          <div class="form-group">
            <div class="col-md-6 mb-3">
              <textarea
                class="form-control dashboard-textarea"
                rows="5"
                name="quetionTitle"
                [(ngModel)]="question.quetionTitle"
                placeholder="Enter the question here."
                id="quetionTitle"
                #quetionTitle="ngModel"
                required
              ></textarea>
            </div>
          </div>

          <div class="form-group form-inline">
            <div class="col-md-6 mb-3">
              <input
                type="text"
                class="form-control dashboard-form-group"
                id="option1"
                name="option1"
                [(ngModel)]="question.option1"
                #option1="ngModel"
                required
                placeholder="Option 1"
              />
            </div>
            <div class="col-md-6 mb-3">
              <input
                type="text"
                class="form-control dashboard-form-group"
                id="option2"
                name="option2"
                [(ngModel)]="question.option2"
                #option2="ngModel"
                required
                placeholder="Option 2"
              />
            </div>
          </div>
          <div class="form-group form-inline">
            <div class="col-md-6 mb-3">
              <input
                type="text"
                class="form-control dashboard-form-group"
                id="option3"
                name="option3"
                [(ngModel)]="question.option3"
                #option3="ngModel"
                required
                placeholder="Option 3"
              />
            </div>
            <div class="col-md-6 mb-3">
              <input
                type="text"
                class="form-control dashboard-form-group"
                id="option4"
                name="option4"
                [(ngModel)]="question.option4"
                #option4="ngModel"
                required
                placeholder="Option 4"
              />
            </div>
          </div>
          <div class="form-group form-inline">
            <div class="col-md-6 mb-3">
              <input
                type="text"
                class="form-control dashboard-form-group"
                id="correctAnswer"
                name="correctAnswer"
                [(ngModel)]="question.correctAnswer"
                #correctAnswer="ngModel"
                required
                placeholder="Correct Answer"
              />
            </div>
          </div>
        </div>
        <div class="form-group form-inline">
          <button
            type="button"
            [disabled]="!questionForm.form.valid"
            class="btn btn-success dashboard-form-group-buttons"
            (click)="onAdd()"
          >
            Add
          </button>
        </div>
      </form>
      <div class="form-group form-inline">
        <button
          type="submit"
          class="btn btn-success dashboard-form-group-buttons"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
