.full-width {
  width: 100%;
}

mat-card-actions > button {
  display: block !important;
  margin: 0 auto !important;
}

mat-card-content {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.my-card {
  width: 80vw;
  margin: 10vh auto;
}

button {
  width: 50vw;
  margin-bottom: 30px !important;
  height: 48px;
}

.form-btn {
  margin-left: 14vw;
}
