<app-header></app-header>
<mat-card class="my-card">
  <mat-card-content>
    <form class="my-form">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          placeholder="Enter your email"
          name="email"
          required
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Mobile</mat-label>
        <input
          type="text"
          matInput
          placeholder="Enter your mobile"
          name="mobile"
          required
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Enter a password"
          name="password"
          required
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Re enter the Password"
          name="confirmPassword"
          required
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="register()" color="primary">
      REGISTER
    </button>
  </mat-card-actions>
</mat-card>
